:root {
  --color-font: #333333;
  --color-principal: #0186f8;
  --color-secundario: #00a9ee;
  --color-fondo: #fff;
  --resalto-links: #ffff00;
  --color-resaltoFondo: #000;
}

/* Fuentes */
@font-face {
  font-family: "Montserrat";
  src: url("/Style Library/ScreenReaderV3/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "WorkSans";
  src: url("/Style Library/ScreenReaderV3/fonts/WorkSans-Regular.ttf");
}

/* Contenedor Principal, donde podras editar la posicion de la barra
Si deseas cambiar la posicion de la barra al lado izquierdo, es necesario cambiar 
el valor del flex-direction a row-reverse, ademas de su translateX
*/
.barraAccesibilidad {
  display: flex;
  align-items: flex-start;
  position: fixed;
  right: 1rem;
  bottom: 30%;
  flex-direction: row;
  z-index: 99;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translateX(87%);
}

.barraAccesibilidad:focus {
  border: none !important;
}

/* Contenedor de opciones de la barra, donde podras cambiar su tamaño */

.barraAccesibilidad__content {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: var(--color-font);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  width: 15rem;
  height: 37.2rem;
  padding: 0.2rem 1rem 0.5rem 1rem;
  border-radius: 0px 8px 8px 8px;
}

/* Titulo principal */
.barraAccesibilidad__title {
  font-size: 1.3rem !important;
  letter-spacing: normal !important;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 700;
  font-family: "Montserrat" !important;
  color: var(--color-principal);
}

/* Opciones de la barra */
.barraAccesibilidad__options {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  row-gap: 0.3rem;
}

/* Parrafos de las opciones */
.barraAccesibilidad__p {
  font-size: 1rem !important;
  letter-spacing: normal !important;
  font-family: "WorkSans" !important;
}

.barraAccesibilidad__p:visited {
  color: var(--color-font);
}

/* Iconos de las opciones */
.barraAccesibilidad__img {
  width: 0.9rem;
  vertical-align: middle;
  margin-right: 1.4rem;
}

/* Opcion de la barra por individual */
.barraAccesibilidad__option {
  display: flex;
  align-items: baseline;
  transition: 0.1s;
  opacity: 0;
}

/* efecto hover de cada opcion */
.barraAccesibilidad__option:hover .barraAccesibilidad__p {
  text-decoration: underline;
  cursor: pointer;
  transform: scale(1.1);
  color: var(--color-principal);
}

/* Contenedor de la imagen del logo */
.barraAccesibilidad__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  background: linear-gradient(
    0deg,
    var(--color-principal) 0%,
    var(--color-secundario) 100%
  );
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.barraAccesibilidad__logo:focus {
  border-radius: none !important;
}

.barraAccesibilidad--active {
  transform: translateX(0%);
}

/* Logo de Accesibilidad */
.barraAccesibilidad__lg {
  width: 2.5rem;
}

.barraAccesibilidad__logo:hover > .barraAccesibilidad__lg {
  animation: moveLogo 1s ease-in both;
}

/* Contraste */
.scr_highcontrast {
  filter: invert(100%);
  background-color: #000 !important;
}
/* En caso que al activar el contraste y modo gris se pierda la barra y boton de subir descomentar linea de codigo 187-189 */

/* .scr_highcontrast .scroll-to-top,.scr_highcontrast .accesibilidadBtn{
	bottom: 8rem !important;
} */

/* Letra para dislexicos*/

@font-face {
  font-family: "OpenDyslexic";
  src: url("/Style Library/ScreenReaderV3/fonts/OpenDyslexic-Regular.otf");
}

.font-dyslexic {
  font-family: "OpenDyslexic", sans-serif !important;
}

/* Tono gris */

.scr_grayHues {
  filter: grayscale(1);
}

/* En caso que al activar el contraste y modo gris se pierda la barra y boton de subir descomentar linea de codigo 187-189 */

/* .scr_grayHues .scroll-to-top,.scr_grayHues .accesibilidadBtn{
	bottom: 8rem !important;
} */

/* Cursor grande */
.scr_bigcursor * {
  cursor: url("/Style Library/ScreenReaderV3/images/bigcursor.svg"), auto !important;
}

.scr_bigcursor a,
.scr_bigcursor input,
.scr_bigcursor button {
  cursor: url("/Style Library/ScreenReaderV3/images/cursorPointer.svg"), auto !important;
}

/* Resaltar enlaces */
.src_highlightLink {
  background-color: var(--color-resaltoFondo) !important;
  color: var(--resalto-links) !important;
  text-decoration: underline !important;
}

/* Animaciones */
@keyframes itemFade {
  from {
    opacity: 0;
    transform: translateX(70px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveLogo {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(-300%);
  }

  75% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0);
  }
}
