.barraAccesibilidad{
  display: flex;
  align-items: flex-start;
  position: fixed;
  right: 1rem;
  bottom: 30%;
  flex-direction: row-reverse;
  z-index: 999;
  transition: .4s ease-in-out;
  transform: translateX(80%);
}

.barraAccesibilidad__content{
  background-color: #ffffff;
  border: 1px solid #333333;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  width: 15rem;
  height: 29rem;
  padding: .2rem 1rem .5rem 1rem;
}

.barraAccesibilidad__title{
  font-size: 1.3rem;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}

.barraAccesibilidad__p{
  font-size: 1rem;
}

#centroRelevo:visited{
  color: #333333;
}

.barraAccesibilidad__img{
  width: .9rem;
  vertical-align: middle;
  margin-right: 1.4rem;
}

.barraAccesibilidad__options{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  row-gap: .3rem;
}

.barraAccesibilidad__option{
  display: flex;
  align-items: baseline;
  transition: .2s;
}

.barraAccesibilidad__option:hover .barraAccesibilidad__p{
  text-decoration: underline;
  cursor: pointer;
}

.barraAccesibilidad__logo{
  background-color: #0072C6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border: 1px solid #333333;
  cursor: pointer;
  transition: .3s;
}

.barraAccesibilidad__logo:focus{
  border-radius: none !important;
}

.barraAccesibilidad--active{
  transform: translateX(0%);
}

.barraAccesibilidad__lg{
  width: 2.5rem;
}

/* Contraste */

.scr_highcontrast {
  filter: invert(100%);
}

/* En caso que al activar el contraste y modo gris se pierda la barra y boton de subir descomentar linea de codigo 187-189 */

/* .scr_highcontrast .scroll-to-top,.scr_highcontrast .accesibilidadBtn{
	bottom: 8rem !important;
} */


/* Letra para dislexicos*/

@font-face {
  font-family: "OpenDyslexic";
  src: url("/Style Library/ScreenReaderV3/fonts/OpenDyslexic-Regular.otf");
}

.font-dyslexic {
  font-family: "OpenDyslexic", sans-serif !important;
}

/* gray hues */

.scr_grayHues {
  filter: grayscale(1);
}

/* En caso que al activar el contraste y modo gris se pierda la barra y boton de subir descomentar linea de codigo 187-189 */

/* .scr_grayHues .scroll-to-top,.scr_grayHues .accesibilidadBtn{
	bottom: 8rem !important;
} */

/* Cursor grande */

.scr_bigcursor * {
  cursor: url("/Style Library/ScreenReaderV3/imagenes/bigcursor.svg"), auto !important;
}

/* Responsive */
